Homework 2.0

In [102]:
import numpy as np
import pandas as pd
import matplotlib
import math as m

In [103]:
data = pd.read_csv('data.csv')
data_place=pd.read_csv('context_place.csv')
data_day=pd.read_csv('context_day.csv')
# type(df)

In [104]:
data.info()
# data.info()
# mn=data[data['Unnamed: 0'] == 'User 21'].mean()
# print(mn)
# print(data.iloc[ [20] ])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40 non-null     object
 1    Movie 1    40 non-null     int64
 2    Movie 2    40 non-null     int64
 3    Movie 3    40 non-null     int64
 4    Movie 4    40 non-null     int64
 5    Movie 5    40 non-null     int64
 6    Movie 6    40 non-null     int64
 7    Movie 7    40 non-null     int64
 8    Movie 8    40 non-null     int64
 9    Movie 9    40 non-null     int64
 10   Movie 10   40 non-null     int64
 11   Movie 11   40 non-null     int64
 12   Movie 12   40 non-null     int64
 13   Movie 13   40 non-null     int64
 14   Movie 14   40 non-null     int64
 15   Movie 15   40 non-null     int64
 16   Movie 16   40 non-null     int64
 17   Movie 17   40 non-null     int64
 18   Movie 18   40 non-null     int64
 19   Movie 19   40 non-null     int64
 20   Movie 20   40 non-null     int64
 21   Movie 21   40 non-null     int64
 22   Movie 22   40 non-null     int64
 23   Movie 23   40 non-null     int64
 24   Movie 24   40 non-null     int64
 25   Movie 25   40 non-null     int64
 26   Movie 26   40 non-null     int64
 27   Movie 27   40 non-null     int64
 28   Movie 28   40 non-null     int64
 29   Movie 29   40 non-null     int64
 30   Movie 30   40 non-null     int64
dtypes: int64(30), object(1)
memory usage: 9.8+ KB

In [105]:
# data_place.head(20)
data_place_21=data_place.iloc[ [20] ]
print(data_place_21)

             Movie 1  Movie 2  Movie 3  Movie 4  Movie 5  Movie 6  Movie 7  \
20  User 21       -1        c        c        c        h        c        v

    Movie 8  Movie 9  ...  Movie 21  Movie 22  Movie 23  Movie 24  Movie 25  \
20        v        v  ...        -1         c         h         v         v

    Movie 26  Movie 27  Movie 28  Movie 29  Movie 30
20         v         v         h         c        -1

[1 rows x 31 columns]

In [52]:
# list(data_t)
# data_t.columns

ДРОПАЕМ НЕНУЖНЫЙ НАМ 1 СТОЛБЕЦ

In [106]:
#  data=data.drop(data.columns[0],axis=1)

1 ЗАДАНИЕ

Для заданного пользователя (21) рассчитать оценки для всех фильмов, которые он не оценил.

In [107]:
data.iloc[20]
# ru-Средняя оценка у моего пользователя
ru=data.iloc[20].mean()
print(ru)
def rv(us_id):   
    rv=[]
# Цикл считающий средние значения оценки каждого пользователя
    for i in range(40):
        rv.append(data.iloc[i].mean())  #rv среднее для пользователя v
    return rv[us_id]
#     print(rv[39])

2.3

In [ ]:
Заменим -1 на 0 для упрощения расчетов и выведем кол-во строк и столбцов

In [108]:
# вдруг пригодится
data=data.replace({-1: 0})
data

col_num=data.shape[1]
row_num=data.shape[0]
#print(col_num,row_num)

In [ ]:
Здесь главная функция, считающая метрику сходства

In [161]:
def sim_func(user_num):
    Mat = np.zeros((row_num,row_num)) #нужно внимательно понять, что в конечном итоге нам нужно будет 38 столбцов 
    for userU in range(row_num):
        for userV in range(row_num):
            if(userU != userV):
                A = data.iloc[lambda df: [userU,userV]]
                ASQRT = (data.iloc[lambda df: [userU,userV]]) ** 2
                MatrSum = ASQRT.sum(axis = 1) #матрица общей суммы квадратов
                pr_znam = m.sqrt(MatrSum[userU] * MatrSum[userV])
                sum_p = 0;
                chisl=0;
                for film in range(col_num):
    #                 chisl+=data[film][userU] * data[film][userV]
                    user_film = A[A.columns[film]]
                    sum_p += user_film[userU] * user_film[userV] #даже если 0, то будет 0 и он не повлияет на сумму
                Mat[userU,userV] = round(sum_p/ pr_znam,3)
    return(Mat[user_num])
print("Метрика сходства для нашего пользователя:\n",sim_func(20))

Метрика сходства для нашего пользователя:
 [0.728 0.66  0.517 0.6   0.762 0.714 0.739 0.706 0.681 0.68  0.673 0.696
 0.704 0.57  0.52  0.763 0.622 0.648 0.715 0.651 0.    0.694 0.626 0.631
 0.634 0.7   0.675 0.721 0.713 0.693 0.754 0.637 0.629 0.691 0.586 0.754
 0.726 0.652 0.614 0.757]

In [ ]:
Ищем максимально похожих 4х пользователей

In [214]:

# #https://numpy.org/doc/stable/reference/generated/numpy.argpartition.html
# ind = sorted(np.argpartition(sim_func(20), -4)[-4:])
# print("Индексы максимально похожих", 4,"пользователей:",ind)

#Расставляем в порядке возрастания и слайсируем 4 пхожих
##############################
new_dat=sim_func(20)
# print(new_dat[30], new_dat[35],)
nw=sorted(new_dat)
ln=len(nw)
index=[]
for i in range(36,40):    
    print(nw[i])
    for j in range(len(new_dat)-1,-1,-1):
        if new_dat[j]==nw[i]:
            index.append(j)
            break
print(sorted(index))

0.754
0.757
0.762
0.763
[4, 15, 35, 39]

In [220]:
#далее работаем с этими  пользователями
ru=round(ru,3)
sm = np.zeros(col_num) 
sum_m = 0 #сумма метрик сходства пользователей
for us in index:
    dU = data.iloc[[us]] # берем данные по фильмам у требуемого пользователя
    #Вызовем нашу функцию для поиска среднего по пользователю v
    srv=rv(us)
    sum_m = round(sum_m + sim_func(20)[us], 3)
    for film in range(col_num):
        sm[film] =  sm[film] + sim_func(20)[us] * (dU[dU.columns[film]] - ru)
for i in range(col_num):
    sm[i] = round(srv + sm[i] / sum_m,3)
print("Новые оценки для 21 User:", sm)

Новые оценки для 21 User: [3.27  3.02  3.026 3.765 4.015 2.271 5.015 2.517 3.275 4.264 3.772 3.01
 3.261 5.02  3.513 3.024 3.269 2.768 3.27  3.526 2.77  4.519 4.265 2.01
 4.266 5.266 3.766 2.764 4.52  3.264]

Ищем фильмы без оценок в нашем варианте

In [293]:
data_var=data.iloc[20]
# print(data_var)
rez_l=[]
for i in range(col_num):
    if data_var.iloc[i]==0:
        data_var.iloc[i]=sm[i]
        rez_l.append(data_var.iloc[i])
        j=i+1
#         data_result11[i]=pd.Series(data_var.iloc[i],index=["Movie"+str(j)])
#         dat[i]=pd.DataFrame([data_var.iloc[i]],index=["Movie"+str(j)],columns=[1])
#         dat[i]
#         data_result1[i]='Movie',i+1,'=',round(data_var.iloc[i],3)
#         data_result1[i] = pd.Series([data_var.iloc[i]], index=[i+1])
        print('Новые оценки: Movie',j,'=',round(data_var.iloc[i],3))
# dat=pd.DataFrame(rez_l,index=['Movie 1','Movie 18','Movie 19','Movie 21','Movie 30'], columns=['1'])
# dat

Новые оценки: Movie 1 = 3.27
Новые оценки: Movie 18 = 2.768
Новые оценки: Movie 19 = 3.27
Новые оценки: Movie 21 = 2.77
Новые оценки: Movie 30 = 3.264

              1
Movie 1   3.270
Movie 18  2.768
Movie 19  3.270
Movie 21  2.770
Movie 30  3.264

ЗАДАНИЕ 2

In [112]:
# data_day.head(21)
data_21=data.iloc[[20]]
data_day_21=data_day.iloc[ [20] ]
# print(data_day_21)
# # data_place.head(20)
data_place_21=data_place.iloc[ [20] ]
# print(data_place_21)
#data_new=data_day.merge(data_place,on='Movie 1' how='inner')
data_conc=pd.concat([data_21,data_place_21,data_day_21],sort=False, axis=0)
print(data_conc)

    Movie 1  Movie 2  Movie 3  Movie 4  Movie 5  Movie 6  Movie 7  Movie 8  \
20        0        2        1        2        3        5        4        1
20       -1        c        c        c        h        c        v        v
20       -1      Thu      Thu      Sat      Sat      Thu      Thu      Sat

    Movie 9  Movie 10  ...  Movie 23  Movie 24  Movie 25  Movie 26  Movie 27  \
20        2         3  ...         1         2         5         5         4
20        v         h  ...         h         v         v         v         v
20      Fri       Fri  ...       Wed       Wed       Sat       Mon       Sun

    Movie 28  Movie 29  Movie 30          Unnamed: 0
20         4         2         0      NaN        NaN
20         h         c        -1  User 21        NaN
20       Sat       Sun        -1      NaN    User 21

[3 rows x 32 columns]

In [113]:
#Составим таблицу по данному пользователю вдруг пригодится
df=data_conc.T
df.columns=['Grades','Where','When']
list(df)
print(df)

           Grades    Where     When
 Movie 1        0       -1       -1
 Movie 2        2        c      Thu
 Movie 3        1        c      Thu
 Movie 4        2        c      Sat
 Movie 5        3        h      Sat
 Movie 6        5        c      Thu
 Movie 7        4        v      Thu
 Movie 8        1        v      Sat
 Movie 9        2        v      Fri
 Movie 10       3        h      Fri
 Movie 11       5        c      Fri
 Movie 12       5        v      Sat
 Movie 13       1        c      Wed
 Movie 14       3        v      Mon
 Movie 15       2        c      Wed
 Movie 16       3        v      Thu
 Movie 17       1        c      Fri
 Movie 18       0       -1       -1
 Movie 19       0       -1       -1
 Movie 20       3        h      Tue
 Movie 21       0       -1       -1
 Movie 22       5        c      Tue
 Movie 23       1        h      Wed
 Movie 24       2        v      Wed
 Movie 25       5        v      Sat
 Movie 26       5        v      Mon
 Movie 27       4        v      Sun
 Movie 28       4        h      Sat
 Movie 29       2        c      Sun
 Movie 30       0       -1       -1
              NaN  User 21      NaN
Unnamed: 0    NaN      NaN  User 21

In [114]:
pfilms = []

for el in range(1, len(data_place.iloc[20])):
    if (data_place.iloc[20][el].strip() == 'h') & (el in dfilms):
        pfilms.append(el)     

dfilms=[]

for el in range(1, len(data_day.iloc[20])):
    if (data_day.iloc[20][el].strip() == 'Sat') | (data_day.iloc[27][el].strip() == 'Sun') & (el in pfilms):
        dfilms.append(el)
print(dfilms)
print(pfilms)

[4, 5, 8, 12, 25, 28]
[5, 28]

In [121]:
#пользователь посмотрел бы фильмы 5 и 28
#найдем оценки  для этих фильмов и надо как-то выцепить 5 и 28 а потом найдем из 5 и 28 наибольшую оценку
data.head(21)

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 21,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30
0,0,4,1,5,0,0,0,1,3,0,...,2,4,0,0,3,4,0,2,4,1
1,4,5,2,3,3,4,0,5,3,2,...,0,2,0,3,1,5,0,5,2,2
2,4,2,5,4,1,5,0,3,5,2,...,4,0,5,4,5,1,2,1,0,3
3,5,0,2,0,0,2,4,3,2,3,...,0,2,2,2,2,5,3,2,5,5
4,4,3,3,3,5,3,3,4,5,2,...,4,5,2,0,3,5,1,0,5,0
5,2,0,3,3,3,3,4,2,0,1,...,5,0,1,3,0,4,4,5,1,2
6,4,1,4,4,1,4,5,2,2,0,...,2,5,1,3,4,0,4,3,1,4
7,0,5,5,3,3,3,3,3,1,2,...,0,3,1,3,2,1,4,0,1,3
8,1,2,3,1,5,3,3,1,2,5,...,3,2,3,0,1,4,3,1,5,3
9,5,0,1,0,3,3,4,1,1,2,...,4,1,4,1,4,5,2,3,0,1
10,0,5,0,1,5,2,4,2,4,0,...,4,0,3,4,1,2,4,2,5,1
11,5,4,4,0,3,0,5,5,5,3,...,1,4,1,5,3,5,4,3,5,5
12,1,1,4,5,4,3,5,5,5,4,...,2,3,2,0,4,3,0,5,5,4
13,3,5,4,0,1,2,4,0,0,4,...,4,1,5,4,1,0,3,1,5,3
14,3,5,3,4,4,0,4,4,2,1,...,2,2,5,1,3,4,0,0,5,4
15,3,3,5,3,2,2,5,0,4,4,...,1,3,4,0,4,4,4,2,4,4
16,1,1,0,0,4,4,0,0,1,1,...,4,2,4,2,2,0,5,4,5,3
17,4,3,3,2,1,5,3,4,5,2,...,0,4,5,2,1,1,2,1,0,4
18,4,3,5,5,4,4,0,0,4,4,...,2,3,1,2,0,2,5,1,2,1
19,2,0,2,5,0,0,1,0,2,0,...,0,2,4,1,0,2,2,3,3,4
20,0,2,1,2,3,5,4,1,2,3,...,0,5,1,2,5,5,4,4,2,0

In [115]:
mergedl=dfilms+pfilms
print(mergedl)
# d.duplicated(subset=None, keep='first')

[4, 5, 8, 12, 25, 28, 5, 28]

In [116]:
# Найдем те фильмы, которые есть в обоих списках, а именно те, которые пользователь смотрел дома в Сб или Вс
no_dupes = [x for n, x in enumerate(mergedl) if x not in mergedl[:n]]
print (no_dupes)
#Вот они
dupes = [x for n, x in enumerate(mergedl) if x in mergedl[:n]]
print (dupes)

[4, 5, 8, 12, 25, 28]
[5, 28]

Найдем оценки для этих фильмов

In [139]:
grade = []
len_d=len(dupes)
for i in range(len_d):
    grade.append(data.iloc[20][dupes[i]-1]) 
    print('Оценка по фильму',dupes[i], 'от пользователя 21:',grade[i])

Оценка по фильму 5 от пользователя 21: 3
Оценка по фильму 28 от пользователя 21: 4

Посчитаем оценки от других пользователей по этим фильмам:

In [296]:
data_var=data.iloc[20]
for i in range(30):
        data_var.iloc[i]=sm[i]
new_l=[]
for i in dupes:
    new_l.append(data_var[i])
    print('Оценка фильма',i ,'на основании мнения всех пользователей:',data_var[i])
print('Рекомендуем фильм по наибольшей оценке',max(new_l),': Movie',i)
# data_result2=pd.Series(max(new_l),index=[("Movie ")+str(i)])
# data_result2
data_result2=pd.DataFrame(max(new_l),index=[("Movie ")+str(i)], columns=['2'])

Оценка фильма 5 на основании мнения всех пользователей: 2.271
Оценка фильма 28 на основании мнения всех пользователей: 4.52
Рекомендуем фильм по наибольшей оценке 4.52 : Movie 28

In [317]:
import json
# file=data_result1.to_json('json_hw.')
us='User 21'
res = dat.to_json(orient="columns")
res1=data_result2.to_json(orient="columns")
parsed1 = json.loads(res)
parsed2 = json.loads(res1)
json.dumps(parsed1, indent=4) 
json.dumps(parsed2, indent=4) 
with open('result_file_21.json', 'w') as file:
    file.write(json.dumps(us, indent=4))
    file.write(', \n')
    file.write(json.dumps(parsed1, indent=4))
    file.write(', \n')
    file.write(json.dumps(parsed2, indent=4))